---
import apiRoutes from "../api.js";

const data = await fetch(
  `${apiRoutes.serviPlus}/listCategoriesActiveWithImages`
).then((response) => response.json());
const listCategory = data;
console.log(listCategory);
---

<section class="flex justify-center w-full bg-[#1a2149] text-white">
  <div class="logos flex flex-row gap-24 py-3 w-max">
    {
      listCategory.map((category) => (
        <div class="logos-slide">
          <span class="flex flex-col items-center">
            <img src={`data:image/svg+xml;base64,${category.content}`} />
            <h3>{category.name}</h3>
          </span>
        </div>
      ))
    }
  </div>
</section>

<style itemscope>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0));
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos-slide {
    display: inline-block;
    animation: 6s slide infinite linear;
  }

  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
</style>
