<section class="flex justify-center w-full">
  <div class="logos flex flex-row gap-10 py-3">
    <div class="logos-slide">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/carpintero.png" />
        <p>carpintero</p>
      </span>
    </div>
    <div class="logos-slide">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/fontanero.png" />
        <p>Plomero</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/jardinero.png" />
        <p>Jardinero</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/decorador.png" />
        <p>Decorador</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/mecanico.png" />
        <p>Mecanico</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/veterinario.png" />
        <p>Veterinario</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/ingeniero.png" />
        <p>Ingeniero</p>
      </span>
    </div>
    <div class="logos-slide text-center">
      <span class="flex flex-col items-center">
        <img src="./assets/categoryIcons/icons8-painter-64.png" />
        <p>Pintor</p>
      </span>
    </div>
  </div>
</section>

<style itemscope>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0));
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }

  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
</style>
